html, body {
    background-color: rgb(219, 189, 189);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}

.container {
    display: flex;
}

.content {
    padding: 0px 20px;
}

.side-menu {
    width: 500px;
    height: 100vh;
    background-color: black;
    color: #ffffff;
    flex-direction: column;
    padding-top: 16px;
    
}

.side-menu-title {
    height: 50px;
    cursor: pointer;
    padding: 0px 8px;
    align-items: center;
    font-size: 12px;
    display: flex;
    
}
.side-menu-title ,i{
    margin-left: 8px;
}

.side-menu-title:hover {
    background-color: rgb(1, 39, 39);
}

.side-menu-items {
    margin: unset;
    padding: unset;
    
}
.side-menu-items:hover {
    place-items: reveal;
}
.side-menu-item {
    list-style: none;
    height: 50px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.side-menu-item:hover {
    background-color: rgb(1, 39, 39);
}

.side-menu-item-icon {
    margin-right: 8px;
}

.side-menu-item:hover .side-menu-item-icon {
    color: #a8327b;
}

.hidden {
    display: none;
}

@media screen and (max-width:450px) {
    .side-menu {
        padding-top: 15px
    }
}

.fa-star-and-crescent {
    position: absolute;
    left:10000;
    bottom:3000;
    }